body{
  font-family: sans-serif;
}
.toolbar a{
  color:#90caf9 !important;
  font-weight: 600
}
.toolbar a:hover{
  text-decoration: none;
  color:white !important
}
.p-toolbar{
  font-size:11px;
  background: #2e2e2e;
  height:50px
}
.head-second-item{
  color:white
}
.head-second-item ul li, .head-dollar-area ul li, .head-list-right ul li{
  display: inline-block;
  padding-left: 9px;
  margin-top: 16px !important;
}
.second-toolbar-list ul li{
  display: inline-block;
  padding-left: 9px;
  /* margin-top: 5px !important; */
}
.head-second-item ul li a, .head-dollar-area ul li a, .head-list-right ul li a, .second-toolbar-list a{
  text-decoration: none;
  color: white;
}
.head-btn-area button{
  font-size: 10px
}
.head-second-item .dropdown-toggle::after, .head-dollar-area .dropdown-toggle::after,.head-list-right .dropdown-toggle::after, .second-toolbar-list .dropdown-toggle::after, .last-bar .dropdown-toggle::after  {      /*   to change the caret symbol      */
    display: none;
}
.head-dollar-area .dropdown-menu a,.second-toolbar-list .dropdown-menu a{
  font-size:12px
}
.head-dollar-area .dropdown-menu a:hover,.second-toolbar-list .dropdown-menu a:hover{
  background: #1474ea;
  color:white
}
.dropdown-menu hr{
/* .head-dollar-area .dropdown-menu hr,.second-toolbar-list .dropdown-menu hr{ */
  margin-top:2px;
  margin-bottom: 2px
}
.head-dollar-area .dropdown-menu,.second-toolbar-list .dropdown-menu{
  background: teal;
  border-radius: 0px
}
.drop:hover>.dropdown-menu {
  display: block;
}
.second-toolbar{
  background: #2e2e2e;
  font-size: 11px
}
.second-toolbar p{
  color:white
}
.header-two{
  background: #2e2e2e;
      font-family: monospace;
}
.call{
  text-align:right;
}
.call p{
  color:white;
  font-size:14px;
}
.call span{
  color:yellow;
  font-size:14px;
}
.header-two-navbar ul li{
  display: inline-block;
  padding-left: 9px;

}
.header-two-navbar ul li a{
  font-size:14px;

  text-transform: uppercase;
  color:white
}
.header-two-navbar .active a, .header-two-navbar ul li a:hover{
  color:yellow !important;
  text-decoration: none
  }
.drop-nav:hover>.dropdown-menu{
  display: block;
  right:auto;
  left:auto;
  background: #2e2e2e;
}
.header-three{
  background: black;
}
.form-input{
  margin-top: 10px;
    margin-bottom: 10px;
}
.form-input input{
  border-radius: inherit
}
.form-input select{
  border-radius: inherit
}
.form-input select{
  font-size: 12px;
  height: 38px;
  width: 50px
}
::placeholder{
  font-size:12px;
  font-weight: 600;
  font-family: sans-serif;
  color:grey
}
.btn-search button{
  background: yellow;
  border-radius: inherit;
      border: none;
      color: black;
      text-transform: uppercase;
      font-size: 12px;
}
.header-three-list ul li button{
  /* margin-right:5px; */
  border-radius:0px;
  background: #d80e0c;
  color:white
}
.category{
  background: #d80e0c;
  /* max-width: 100% */
  height: 100%;
}
.category p{
  padding-left:15px;
  color:white;
  font-size:12px;
  padding-right:15px;
  font-weight: 600;
  padding-top:20px
}
.category .row .col-md-2 a{
  color:white
}
.category .row .col-md-2 ul{
  background: red
  /* background: #2e2e2e */
}

/* .badge-notify{
   background:grey;
   position:relative;
   top: -12px;
   left: -5px;
} */

.badge-notify{
  background: yellow;
position: absolute;
-moz-transform: translate(202%, -245%);
-ms-transform: translate(202%, -245%);
-webkit-transform: translate(202%, -245%);
-o-transform: translate(202%, -245%);
 }
 .header-three-list ul li{
   list-style:none;
   display: inline-block;
   padding-right:5px
 }
 .header-three-list ul li i{
   font-size:18px
 }
